<!DOCTYPE html>
<html>

<head th:replace="base :: header(~{::title}, ~{::script})">
    <title>Home</title>
    <script type="text/javascript" th:src="@{/js/create.js}"></script>
</head>

<body>
    <div th:replace="base :: navbar"></div>
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container">
            <div data-uk-grid>
                <div class="uk-width-expand@s">
                    <h1>New to don't</h1>
                </div>
                <div class="uk-width-auto@s">
                    <a class="uk-button uk-button-danger uk-button-large uk-text-bold">Delete</a>
                </div>
            </div>
            <hr>
            <form class="uk-form-horizontal" action="#" method="post" th:action="@{/create}" th:object="${toDont}">

                <div class="uk-margin">
                    <label class="uk-form-label" for="title">Title</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-form-width-large" id="title" type="text" placeholder="Title" th:field="*{name}">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="visibility">Visibility</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-form-width-medium" id="visibility" th:field="*{visibility}">
                            <option th:each="visibility : ${T(ch.hearc.todont.models.ToDont.Visibility).values()}" th:value="${visibility}" th:text="${visibility}"></option>
                        </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="description">Description</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea uk-form-width-large" rows="3" id="description" placeholder="Description" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Users</div>
                    <table class="uk-table uk-margin-remove-top uk-table-middle uk-table-divider uk-table-justify uk-form-controls uk-table-small" id="users-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th><button class="uk-button uk-button-small uk-button-primary" onclick="addUser()" type="button"><span uk-icon="icon: plus" class="uk-margin-small-right"></span>Add</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td><input type="input" class="uk-input" placeholder="Name" name="usernames[]" th:value="${#authentication.getName()}" readonly></td>
                            <td><label><input class="uk-checkbox" type="checkbox" name="moderatorBoolean[]" value="1" checked readonly> Moderator</label></td>
                        </tbody>
                    </table>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-controls uk-text-right todont-buttons">
                        <a class="uk-button uk-button-large uk-button-default">Cancel</a>
                        <input type="submit" class="uk-button uk-button-large uk-text-bold uk-button-primary" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>