<!DOCTYPE html>
<html>

<head th:replace="base :: header(~{::title}, ~{})">
    <title>Error</title>
</head>

<body>
    <div class="uk-container uk-flex uk-flex-middle uk-flex-center uk-text-center" uk-height-viewport>
        <div>
            <h1 class="uk-text-bold error-title">Oops!</h1>
            <h3><span class="uk-text-bold">Error 404</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <a href="#home" class="uk-button uk-button-primary uk-button-large uk-text-bold uk-margin-top">Go to homepage</a>
        </div>
    </div>
</body>

</html>