<!DOCTYPE html>
<html>

<head th:replace="base :: header(~{::title}, ~{})">
    <title>Home</title>
</head>

<body>
    <div th:replace="base :: navbar"></div>
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container">
            <div data-uk-grid>
                <div class="uk-width-expand@s">
                    <h1>My subscriptions</h1>
                </div>
                <div class="uk-width-auto@s">
                    <a href="/create" th:href="@{/create}" class="uk-button uk-button-primary uk-button-large uk-text-bold">Create To Don't</a>
                </div>
            </div>
            <hr>
            <div class="uk-child-width-1-1 uk-grid-small list-todont" data-uk-grid>
                <div th:each="toDont : ${myToDonts}">
                    <div class="uk-position-relative uk-card uk-card-default uk-card-body uk-card-small">
                        <a th:href="@{'/' + ${toDont.getId().toString()}}" class="outside-link"></a>
                        <div data-uk-grid class="uk-flex  uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-auto@m  uk-flex-middle uk-text-center">
                            <div class="uk-text-large "><span th:text="${toDont.getName()}"></span>
                            </div>
                            <div class="uk-text-large uk-flex-first@m"><span data-uk-icon="icon: calendar; ratio: 1.5"></span><br>
                                <span th:text="${#dates.format(toDont.getPublicationTimeAsDate(), 'dd.MM.yyyy')}"></span>
                            </div>
                            <div class="uk-text-large uk-flex-last@m"><span data-uk-icon="icon: user; ratio: 1.5"></span><br>
                                <span th:text="${toDont.getPledges().size() - toDont.getNumberOfFailures()}"></span>/<span th:text="${toDont.getPledges().size()}"></span>
                            </div>
                            <div class="uk-flex-last@m uk-position-relative inside-link">
                                <form th:action="@{'/' + ${toDont.getId()} + '/fail'}" method="post" th:if="${toDont.isPledged(user) and not toDont.hasFailed(user)}">
                                    <input class="uk-button uk-button-danger uk-text-bold" type="submit" value="Fail" />
                                </form>
                            </div>
                            <div class="uk-width-expand@m uk-text-left"><span th:text="${toDont.getDescription()}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="uk-pagination uk-flex-center" data-uk-margin>
                <li><a href="#"><span data-uk-pagination-previous></span></a>
                                </li>
                                <li class="uk-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span data-uk-pagination-next></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-section uk-section-small">
                            <div class="uk-container uk-position-relative">
                                <div data-uk-grid>
                                    <div class="uk-width-expand@m">
                                        <h1>All To Don'ts</h1>
                                    </div>
                                    <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                        <form class="search-form">
                                            <div data-uk-grid class="uk-grid-collapse">
                                                <div class="uk-width-expand">
                                                    <input class="uk-input" type="search" placeholder="Title">
                                                </div>

                                                <div class="uk-width-expand">
                                                    <input class="uk-input" type="search" placeholder="Author">
                                                </div>

                                                <div>
                                                    <button class="uk-button uk-button-default"><span data-uk-icon="icon: search" class="uk-margin-small-right"></span>Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="uk-child-width-1-1 uk-grid-small list-todont" data-uk-grid>
                                    <div th:each="toDont : ${publicToDonts}">
                                        <div class="uk-position-relative uk-card uk-card-default uk-card-body uk-card-small">
                                            <a th:href="@{'/' + ${toDont.getId().toString()}}" class="outside-link"></a>
                                            <div data-uk-grid class="uk-flex  uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-auto@m  uk-flex-middle uk-text-center">
                                                <div class="uk-text-large" th:text="${toDont.getName()}"></div>
                                                <div class="uk-text-large uk-flex-first@m"><span data-uk-icon="icon: calendar; ratio: 1.5"></span><br>
                                                    <span th:text="${#dates.format(toDont.getPublicationTimeAsDate(), 'dd.MM.yyyy')}"></span>
                                                </div>
                                                <div class="uk-text-large uk-flex-last@m"><span data-uk-icon="icon: user; ratio: 1.5"></span><br>
                                                    <span th:text="${toDont.getPledges().size() - toDont.getNumberOfFailures()}"></span>/<span th:text="${toDont.getPledges().size()}"></span>
                                                </div>
                                                <div class="uk-flex-last@m uk-position-relative inside-link">
                                                    <form th:action="@{'/' + ${toDont.getId()} + '/fail'}" method="post" th:if="${toDont.isPledged(user) and not toDont.hasFailed(user)}">
                                                        <input class="uk-button uk-button-danger uk-text-bold" type="submit" value="Fail" />
                                                    </form>
                                                    <form th:action="@{'/' + ${toDont.getId()} + '/pledge'}" method="post" th:unless="${toDont.isPledged(user)}">
                                                        <input class="uk-button uk-button-primary uk-text-bold" type="submit" value="Subscribe" />
                                                    </form>
                                                </div>
                                                <div class="uk-width-expand@m uk-text-left"><span th:text="${toDont.getDescription()}"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="uk-pagination uk-flex-center" data-uk-margin>
                                    <li><a href="#"><span data-uk-pagination-previous></span></a>
                                    </li>
                                    <li class="uk-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><span data-uk-pagination-next></span></a></li>
                                </ul>
                            </div>
                        </div>
</body>

</html>