<!DOCTYPE html>
<html>

<head th:replace="base :: header(~{::title}, ~{})">
    <title th:text="${toDont.getName()}"></title>
</head>

<body>
    <div th:replace="base :: navbar"></div>
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container">
            <div data-uk-grid>
                <div class="uk-width-1-1 uk-width-auto@s">
                    <h1 class="uk-margin-remove"><span th:text="${toDont.getName()}"></span></h1>
                    <h3 class="uk-text-lighter uk-margin-remove">
                        <span th:text="${#dates.format(toDont.getPublicationTimeAsDate(), 'dd.MM.yyyy')}"></span>
                    </h3>
                </div>
                <div class="uk-width-1-2 uk-width-auto@s">
                    <form th:action="@{'/' + ${toDont.getId()} + '/fail'}" method="post" th:if="${toDont.isPledged(user) and not toDont.hasFailed(user)}">
                        <input class="uk-button uk-button-danger uk-button-large uk-text-bold" type="submit" value="I have failed" />
                    </form>
                    <form th:action="@{'/' + ${toDont.getId()} + '/pledge'}" method="post" th:unless="${toDont.isPledged(user)}">
                        <input class="uk-button uk-button-primary uk-button-large uk-text-bold" type="submit" value="Subscribe" />
                    </form>
                </div>
                <!--
                <div class=" uk-width-1-2 uk-text-right uk-width-expand@s">
                    <a class="uk-button uk-button-secondary uk-button-large uk-text-bold "><span uk-icon="icon: file-edit; ratio: 1.5 "></span> Edit</a>
                </div>
                -->
            </div>
            <hr>
            <div class="uk-child-width-1-2@m uk-grid-column-large " data-uk-grid>
                <div>
                    <h2>Description</h2>
                    <div class="uk-margin-top uk-margin-bottom ">
                        <span th:text="${toDont.getDescription()}"></span>
                    </div>
                    <h2>Users</h2>
                    <div class="uk-overflow-auto ">
                        <table class="uk-table uk-table-divider uk-table-justify ">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Subscription</th>
                                    <th>Role</th>
                                    <th>Fail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pledge : ${toDont.getPledges()}">
                                    <td><span th:text="${pledge.getUser().getName()}"></span></td>
                                    <td>
                                        <span th:text="${#dates.format(pledge.getDateJoinedFormatted(), 'dd.MM.yyyy')}"></span>
                                        <br>
                                        <span th:text="${#dates.format(pledge.getDateJoinedFormatted(), 'HH:mm')}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${toDont.isModerator(pledge.getUser())}">Moderator</span>
                                        <span th:unless="${toDont.isModerator(pledge.getUser())}">User</span>
                                    </td>
                                    <td class="uk-text-danger " th:if="${pledge.isFailed()}">
                                        <span th:text="${#dates.format(pledge.getDateFailedFormatted(), 'dd.MM.yyyy')}"></span>
                                        <br>
                                        <span th:text="${#dates.format(pledge.getDateFailedFormatted(), 'HH:mm')}"></span>
                                    </td>
                                    <td class="uk-text-success " th:unless="${pledge.isFailed()}">Still going strong</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <h2 class="uk-margin-remove ">Comments</h2>
                    <div th:each="comment : ${toDont.getCommentsAntiChronological()}">
                        <div class="uk-grid-collapse uk-margin-top " data-uk-grid>
                            <div class="uk-width-1-1 uk-text-right ">
                                <span th:text="${#dates.format(comment.getFormattedDateTime(), 'dd.MM.yyyy HH:mm')}"></span>
                                <span th:if="${comment.canDelete(user)}"> - 
                                    <form class="uk-display-inline" th:action="@{'/' + ${toDont.getId()} + '/deleteComment'}" method="post">
                                        <input type="hidden" name="commentId" th:value="${comment.getId()}">
                                        <input class="uk-button uk-button-link uk-text-danger delete-comment" type="submit" value="Delete" />
                                    </form>
                                </span>
                            </div>
                            <div class="uk-width-auto uk-padding-small uk-padding-remove-left ">
                                <span th:text="${comment.getUser().getName()}"> :</span>
                            </div>
                            <div class="uk-width-expand comment-content uk-padding-small ">
                                <span th:text="${comment.getContent()}"></span>
                            </div>
                        </div>
                    </div>
                    <form class="uk-margin" th:action="@{'/' + ${toDont.getId()} + '/comment'}" method="post" th:if="${toDont.isPledged(user)}">
                        <div class="uk-inline uk-width-1-1">
                            <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: comment"></button>
                            <input class="uk-input uk-form-large" name="comment" type="text">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>